<app-layout>
  <!--<button class="btn btn-md btn-info" routerLink="/users">Users</button>-->
  <button class="btn btn-md btn-info mr-l-10" routerLink="/home" [ngClass]="{ 'hide disable': !isLoggedIn}">Home</button>
  <button class="btn btn-md btn-info mr-l-10" routerLink="/users" [ngClass]="{ 'hide disable': !isLoggedIn}">Users</button>
  <button class="btn btn-md btn-info mr-l-10" routerLink="/auth/login" [ngClass]="{ 'hide disable': isLoggedIn}">Login</button>
  <button class="btn btn-md btn-info mr-l-10" routerLink="/auth/register" [ngClass]="{ 'hide disable': isLoggedIn}">Register</button>
  <div id="mainContainer">
    <router-outlet></router-outlet>
  </div>
</app-layout>